(
    chamber: (
        width: 3840.0,
        height: 2160.0,
    ),
    magnetic_field: (
        field: [0.0, 0.0, 2.0],
    ),
    particles: (
        decay_rate: 0.5,
        at_start: [
            (
                charges: (50, 75, 50),
                location: [0.0, 1080.0, 0.0],
                velocity: [1000.0, 0.0, 0.0],
            ),
            // (
            //     charges: (25, 10, 25),
            //     location: [1920, 540.0, 0.0],
            //     velocity: [-600.0, 0.0, 0.0],
            // ),
        ]
    )
)